body{
	background-image: url(/img/light_noise_diagonal.png);
	text-align: center;
}

.nav-right{
	float: right !important;
	right: 0 !important;
	left: auto !important;
}

#mainmain{
	margin-bottom: 100px;
}

#panes{
	margin-top: 100px;
}

#left{
	text-align: center;
}

#welcome{
	font-weight: 300;
	font-size: 50pt;
	margin-top: 100px;
	line-height: 120%;
}

#about{
	margin-top: 60px;
	font-weight: 400;
}

#free{
	margin-top: 50px;
}

#getLevr{
	margin-top: 60px;
	font-size: 16pt;
	padding-left: 60px;
	padding-right: 60px;
}

#iphone{
	width: 50%;
	min-width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#features{
	margin-top: 200px;
}

.featurehead{
	font-size: 16pt;
	font-weight: 500;
	margin-top: 25px;
}

.featuresupport{
	margin-top: 20px;
	font-size: 12pt;
}

#beta{
	margin-top: 200px;
}

.betaPrompt{
	margin-top: 25px;
	font-size: 13pt;
	font-weight: 400;
}

#betaBtm{
	margin-top: 25px;
	font-size: 14pt;
	padding-left: 60px;
	padding-right: 60px;
}

#pinRow{
	margin-top: 300px;
}

#pin{
	width: 50px;
}


/*body{
	background-image: url(/img/light_noise_diagonal.png);
}

#top{
	background-image: url(/img/cafe_blurred2.jpg);
	background-attachment: fixed;
	box-shadow: 0px 1px 50px 0px black;
}

#bottom{
	
	height: 2000px;
	
}

#left{
	background-color: rgba(0,0,0,0.8);
	color: #f0f0f0;
	margin-top: 100px;
}

#right{
	height: 600px;
	overflow: hidden;
}

#iphone{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 800px;
	margin-top: 100px;
}

#welcome{
	padding-top: 10px;
	font-weight: 400;
	font-size: 45pt;
	text-align: center;
}

#about{
	padding: 20px;
	margin-top: 20px;
	font-weight: 300;
}*/