body{
	background-image: url('/img/low_contrast_linen.png');
}

.navbar-inner{
	text-align: center;
}

.title{
	color: rgb(119, 119, 119);
	
}

.brand{
	float: right !important;
	text-align: right !important;
}

.back{
	float: left !important;
	background-image: url(/img/back.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 60px;
	margin-top: 3px;
	margin-left: 5px;
	background-size: contain;
}

.back:active{
	background-image: url(/img/back_pressed.png);
	background-color: transparent;
}

i{
	margin-right: 5px;
}

.light{
	color: #ebebeb;
}

input,textarea{
		width: 95%;
		font-size: 14pt !important;
		line-height: 120% !important;
		max-width: 400px;
	}