body{
	background-image: url(../img/classy_fabric.png);
	background-size: auto;
}


.link_prompt{
	width: 100%;
	height: 80px;
	position: absolute;
	/*background: #DF3B3B url('../img/crisp_paper_ruffles.png') repeat-x top left;*/
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,1),  rgba(0,0,0,0)), url(../img/crisp_paper_ruffles.png);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,136,204,0.9)), to(rgba(0,136,204,0.8))),url(../img/crisp_paper_ruffles.png);
}

.linkText{
	text-align: center;
	margin-top: 30px;
	color: white;
	text-shadow: 1px 1px 0px black;
}

#btnLink{
	margin-left: 20px;
	margin-bottom: 5px;
}


#appContainer{
	background-image: url(../img/paper_rotated_light.jpeg);
	background-size: 25%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-top: 150px;
}

.titleBar{
	padding-left: 50px;
}


.navbar{
	margin-bottom: 0;
}

#innerLeft{
	border-radius: 0px;
	margin-top: -1px;
	padding-left: 0px;
	height: 500px;
}


ul,li{
	width: 100%;
	text-align: right;
	font-size: 16pt;
}

.icon-chevron-right{
	margin-left: 20px;
	margin-top: 6px;
}

.business_name{
	float: right !important;
	display: block;
	padding: 0px !important;
	margin-top: 10px !important;
}

#content{
	margin-left: 15px;
}