body{
	background-image: url(/img/light_noise_diagonal.png);
}

.nav{
	float: right !important;
	right: 0 !important;
	left: auto !important;
}

legend{
	font-size: 20pt;
	font-weight: 200;
}

#head{
	font-size: 24pt;
	font-weight: 400;
	margin-top: 50px;
}

#sub{
	font-weight: 200;
	font-size: 14pt;
	margin-top: 20px;
}

#beta_form{
	margin-top: 50px;
}

input{
	width: 50%;
}