body{
	background-image: url(../img/light_noise_diagonal.png);
	text-align: center;
}

#shareText{
	font-size: 20pt;
	font-weight: 200;
	margin-top: 40px;
	margin-bottom: 40px;
}

#imgContainer{
	background-size: cover;
	background-position: center center;
	position: relative;
}


.topBanner{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	color: #f4f4f4;
}

#dealText{
	font-size: 20pt;
	line-height: 100%;
}

.bottomBanner{
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	/*background-color: rgba(255,255,255,0.9);
	color: #1a1a1a;*/
	background-color: rgba(0,0,0,0.9);
	color: #f4f4f4;
}

#levr{
	margin-top: 40px;
	margin-bottom: 100px;
}

#right{
	margin-top: 80px;
}

#phoneImg{
	width: 70%;
}

.call{
	font-size: 20pt;
	margin-top: 20px;
	margin-bottom: 40px;
	font-weight: 200;
	line-height: 110%;
}

.download{
	font-size: 16pt;
	margin-top: 20px;
	margin-bottom: 40px;
	font-weight: 200;
	line-height: 110%;
}

#appstore{
	width: 40%;
}

#link{
	color: rgba(143,143,143,0);
	font-size: 40px;
	font-weight: 200;
	text-decoration: none;
	text-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.2);
}

#btmbtm{
	margin-bottom: 100px;
	margin-top: 200px;
}