{% extends "templates/merchantsBase.html" %}
{% block htmlhead %}
<link rel="stylesheet" href="/css/deal.css">
{% endblock %}

{% block content %}
<form id="deal_form" class="form-horizontal" action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label" for="deal_text">What's the deal?</label>
		<div class="controls">
			<input type="text" id="inputDealText" placeholder="Describe your offer">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">Anything else?</label>
		<div class="controls">
			<textarea type="text" id="inputDealText" placeholder="Special conditions, etc." rows="4"></textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="control-label">
				<input type="file"> Remember me
			</label>
			<button type="submit" class="btn">Sign in</button>
		</div>
	</div>
</form>


<div style="clear:both"></div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">google.load("jquery", "1.4.2");</script>
<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script-->
<script src="../js/deal.js"></script>
<script type="text/javascript">
	{% if edit == True %}
	$('#uploaded_img').css('background-image','url(\'{{ deal.imgURLLarge }}\')');
	
	//this needs to be a global variable so that the form validation works correctly
	isEditing = true;
	{% else %}
	isEditing = false;
	{% endif %}
</script>
{% endblock %}
