<!DOCTYPE html>
<html>
<head>
<!--meta name="apple-itunes-app" content="app-id=564566794"-->
      <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <link href="/css/landing-merchants-v5.css" rel='stylesheet' />
  <title>Levr</title>
  <style type="text/css">
  
  		.iphones{
	  		text-align: center;
  		}
  		
  		#appstore{
	  		width: 200px;
  		}
  </style>
  
  <script>var startTime = (new Date()).getTime();</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("70b2a36876730d894bce115f3e89c055");</script><!-- end Mixpanel -->
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  	<div class="navcontent">
	  	<a class="brand" href='/'>Levr.</a>
	  	<!a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  		<ul class="nav" id='navigation'>
		  		<li class="active"><a id='offersNavbar' href='/'>Offers</a></li>
		  		<li><a id='businessesNavbar' href='/merchants'>Businesses</a></li>
		  		<li><a id='developersNavbar' href='http://www.getradi.us'>Developers</a></li>
		  		<li><a id='investorsNavbar' href='/investors'>Investors</a></li>
	  		</ul>
	  	<!/a>
	  	</div>
	</div>
</div>
<!--div id="top">
	<div class="container">
		<div class="shout-container span8">
		<h1 class="shout">Put your offers on a bigger blackboard.</h1>
		<p class="lead shout">Levr takes the offers that you already run in-store, and puts them in front of a wide, mobile audience.</p>
		<a href="#get" id='btnGet' class="btn btn-large btn-info">Get Levr for Free</a>
		</div>
	</div>
</div-->
<div id="bottom" class="container marketing">
	<div class="featurette">
		<div class="iphones">
		<img class="featurette-image iphone" src="/img/iphone-5-map.png">
		<img class="featurette-image iphone iphone-smaller" src="/img/iphone-5-deal.png">
		</div>
		<h2 class="featurette-heading">
		Great local offers.
		<span class="muted">Discovered by your community.</span>
		</h2>
		<p class="lead">Discover the sort of offers that live on blackboards, in menus, and on signs.</p>
		<p class="lead">Easily add an offer you discover, and earn karma when others find it useful.</p>
		
		<p class="lead"><a id='downloadText' href="https://itunes.apple.com/us/app/levr/id564566794?mt=8">Download Levr on the App Store.</a></p>
		<a id="downloadImage" href='https://itunes.apple.com/us/app/levr/id564566794?mt=8'><img id='appstore' src="/img/appstore.png"></a>
		<hr>
		<p class="lead">Just want to see what we have?</p>
		<a href="/offers" class="btn btn-large btn-info">Show me some offers</a>
	</div>
	
	<!--hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-left iphone" src="/img/iphone-radius.png">
		<h2 class="featurette-heading">
		Bigger than us.
		<span class="muted">The Radi.us API.</span>
		</h2>
		<p class="lead">We also make your offers available to developers via the <a id='apiLink' href="http://getradi.us">Radi.us API</a>. This API makes it easy for anyone to incorporate local offers in a web or mobile application.</p>
		<p class="lead">Your offers aren't restricted to Levr - they're available to everyone.</p>
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-right iphone" src="/img/iphone-promote.png">
		<h2 class="featurette-heading">
		Per-offer promotions.
		<span class="muted">Power-ups for your offers.</span>
		</h2>
		<p class="lead">Reach every Levr user that steps within a mile. Appear at the top the pack. Be more searchable. Reach out to people that have liked similar offers.</p>
		<p class="lead">Pick a power-up, pick a deal, and see the results. Levr makes it simple to promote any offer, any time.</p>
	</div>
	
	
	
	<hr class="featurette-divider">
	
	<div id='get' class="featurette">
		<img class="featurette-image pull-left iphone" src="/img/twophones.png">
		<h2 class="featurette-heading">
		Levr is free for local merchants.
		<span class="muted"></span>
		</h2>
		<p class="lead">You must be on a mobile device to use Levr. You'll use your phone's camera to upload photos of your offers.</p>
		<p class="lead"><a href="#">Download Levr for iPhone from the App Store</a></p>
		<hr>
		<h2 class="featurette-heading">No iPhone?<span class="muted">No worries.</span></h200>
		<p class="lead">Levr works on iPhone, Android, and Windows phones.</p>
		<p class="lead">Just go to <a id='mobileLink' href='http://www.levr.com/merchants/mobile'>levr.com/merchants</a> <strong>on your mobile device</strong> to get started.</p>
	</div-->
	
	
	
	<img class="pin" src="/img/pin.png">
	
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
	$(window).load(function(){
		//track loadtime
		var endTime = (new Date()).getTime();
	    var millisecondsLoading = endTime - startTime;

		mixpanel.track("Levr V5 User Landing Page Loaded",{"Load Time":millisecondsLoading})
		
		mixpanel.track_links('#downloadText','Download Text Clicked')
		
		mixpanel.track_links('#downloadImage','Download Image Clicked')
		
	})
	
	
</script>


</body>
</html>