<!DOCTYPE html>
<html>
<head>
<meta name="apple-itunes-app" content="app-id=564566794">
{% if version=='iPhone' %}
<meta name="viewport" content="width=device-width; initial-scale=0.6; user-scalable=0;">
<style type="text/css">
	#mapContainer{
		/*top: 42px !important;*/
	}
</style>
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endif %}
	<script>var startTime = (new Date()).getTime();</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("70b2a36876730d894bce115f3e89c055");</script><!-- end Mixpanel -->
  <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>
      <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/map.css" rel='stylesheet' />
  
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />
  <link href="/css/landing_v4.css" rel='stylesheet' />
</head>
<body>

<div class="navbar navbar-fixed-top">
	  	<div class="navbar-inner">
			  	<div class="navcontent">
			  	<a class="brand" href='/'>Levr.</a>
			  	<!a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			  		<ul class="nav" id='navigation'>
				  		<li class="active"><a id='offersNavbar' href='/'>Offers</a></li>
				  		<li><a id='businessesNavbar' href='/merchants'>Businesses</a></li>
				  		<li><a id='developersNavbar' href='http://www.getradi.us'>Developers</a></li>
			  		</ul>
			  	<!/a>
			  	</div>
	  	</div>
  	</div>
  	<div id="content" class="hidden-phone"><div class="limiter">
        <div id="about">
        	<h1>Welcome to Levr.</h1>
        	<div class="sectionDiv">
	    		<img class='sectionIcon' src="/img/city.png">
	        	<h3 class="sectionText">Levr helps you discover great offers at local businesses.</h3>
        	</div>
        	<div class="sectionDiv">
	    		<img class='sectionIcon' src="/img/community.png">
	        	<h3 class="sectionText">Offers on Levr are uploaded and curated by your community.</h3>
        	</div>
        	
          
          <p class='description'></p>
          <div id='downloadDiv' class="sectionDiv">
          	<h2 class="sectionText">Want to see more offers, and add offers you discover?</h2>
          	<a href='https://itunes.apple.com/us/app/levr/id564566794?mt=8'><img id='appstore' src="/img/appstore.png"></a>
            <p id="downloadPrompt">Become a member of the Levr community. Click to download for iPhone+iPad</p>
          </div>
        </div>
  	</div>
  	</div>
  	
  	{% if version=='iPhone' %}
  	<!--div class="bottom-banner">
	  	<p class="iphone-header">How local offers should be.</p>
	  	<a id='iphoneButton' class="btn btn-success btn-large" href='https://itunes.apple.com/us/app/levr/id564566794?mt=8'>Download Levr for iPhone+iPad</a>
  	</div-->
  	{% elif version=='android' %}
  	<div class="bottom-banner">
	  	<p class="iphone-header">Levr for Android is coming soon.</p>
	  	<a id='buildFaster' class="btn btn-success btn-large">Build it faster!</a>
  	</div>
  	{% endif %}
        <!--div data-control='geocode' class="clearfix section" id="search">
          <form class="geocode">
            <input placeholder='Search for an address' type="text">
            <input type='submit' />
            <div id='geocode-error'></div>
          </form>
        </div-->
  	
  	
<div id='mapContainer'>
	<div id='map-ui'>
		<div class="btn-group">
		  <a href='/?city=boston' id='toggleBoston' class="btn btn-success">Boston</a>
		  <a href='/?city=sanfrancisco' id='toggleSanFrancisco' class="btn btn-success">San Francisco</a>
		</div>
	</div>
	<div id='map'>
	</div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>

    // GeoJSON input features
    // The image and url properties of the features will be used in
    // the tooltips
    /*var features = [{
        "geometry": { "type": "Point", "coordinates": [-77.03, 38.90]},
        "properties": {
            "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/DCmontage4.jpg/250px-DCmontage4.jpg",
            "url": "http://en.wikipedia.org/wiki/Washington,_D.C.",
            "city": "Washington, D.C."
        }
    }, {
        "geometry": { "type": "Point", "coordinates": [-87.63, 41.88]},
        "properties": {
            "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Chicago_montage.jpg/300px-Chicago_montage.jpg",
            "url": "http://en.wikipedia.org/wiki/Chicago",
            "city": "Chicago"
        }
    }, {
        "geometry": { "type": "Point", "coordinates": [-74.00, 40.71]},
        "properties": {
            "image": "http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/NYC_Montage_2011.jpg/275px-NYC_Montage_2011.jpg",
            "url": "http://en.wikipedia.org/wiki/New_York_City",
            "city": "New York City"
        }
    }];*/
    
    
    
    
/*
    mapbox.auto('map','http://a.tiles.mapbox.com/v3/alonsoholmes.map-7b8eyy4m.jsonp',function(map){
	
    
	    var features = [
	    {% for deal in deals %}
	    {
	        "geometry": { "type": "Point", "coordinates": [{{deal.business.geoPoint}}]},
	        "properties": {
	            "image": "{{deal.largeImg}}"
	        }
	    },
	    {% endfor %}
	    ];
	
	    // Create map
	    //var map = mapbox.map('map');
	    //mapbox.auto('map', 'examples.map-vyofok3q');
	    //var map = mapbox.auto('map','alonsoholmes.map-7b8eyy4m');
	    //var map = mapbox.load('examples.map-vyofok3q',doStuff())
	    
	    map.addLayer(mapbox.layer().id('alonsoholmes.map-7b8eyy4m'));
	
	    // Create and add marker layer
	    var markerLayer = mapbox.markers.layer().features(features);
	    var interaction = mapbox.markers.interaction(markerLayer);
	    map.addLayer(markerLayer);
	
	    // Set a custom formatter for tooltips
	    // Provide a function that returns html to be used in tooltip
	    interaction.formatter(function(feature) {
	        var o = '<a target="_blank" href="' + feature.properties.url + '">' +
	            '<img src="' + feature.properties.image + '">' +
	            '<h2>' + feature.properties.city + '</h2>' +
	            '</a>';
	
	        return o;
	    });
    });
*/
    
    //mapbox.load('http://a.tiles.mapbox.com/v3/alonsoholmes.map-7b8eyy4m.jsonp', function(o) {
	    var map = mapbox.map('map');
	    
	    
	    map.setZoomRange(3,20)
	    map.ui.zoomer.add()
	
    
	    var features = [
	    {% for deal in deals %}
	    {
	        "geometry": { "type": "Point", "coordinates": [{{deal.lon}},{{deal.lat}}]},
	        "properties": {
	            "img"			: 	"{{deal.imgURL}}",
	            "deal_text"		:	"{{deal.dealText|escape}}",
	            "description"	:	"{{deal.description|escape}}",
	            "location"		:	"{{deal.business.businessName|escape}} - {{deal.business.vicinity|escape}}",
	            "userImg"		:	"{{deal.owner.photoURL}}",
	            "userName"		:	"{{deal.owner.alias|escape}}",
	            "marker-size"	:	"medium",
	            "marker-color"	:	"FA6900",
	            "marker-symbol"	:	"star"
	        }
	    },
	    {% endfor %}
	    ];
	
	    // Create map
	    //var map = mapbox.map('map');
	    //mapbox.auto('map', 'examples.map-vyofok3q');
	    //var map = mapbox.auto('map','alonsoholmes.map-7b8eyy4m');
	    //var map = mapbox.load('examples.map-vyofok3q',doStuff())
	    
	    map.addLayer(mapbox.layer().id('alonsoholmes.map-7b8eyy4m'));
	
	    // Create and add marker layer
	    var markerLayer = mapbox.markers.layer().features(features);
	    var interaction = mapbox.markers.interaction(markerLayer);
	    map.addLayer(markerLayer);
	
	    // Set a custom formatter for tooltips
	    // Provide a function that returns html to be used in tooltip
	    interaction.formatter(function(feature) {
	    
	    	mixpanel.track("Offer hover",{"offer":feature.properties.deal_text,"location":feature.properties.location})
	        
	        var o = '<div class="imgDiv" style="background-image:url('+feature.properties.img+');"><div class="infoDiv"><p class="deal_text">'+feature.properties.deal_text+'</p><p class="description">'+feature.properties.description+'</p><div class="userDiv"><div style="background-image:url('+feature.properties.userImg+');" class="userImg"></div><div class="userText"> Found by '+feature.properties.userName+' on Levr for iPhone at:</br>'+feature.properties.location+'</div></div></div></div>'
	
	        return o;
	    });
	    
	    // Set iniital center and zoom
	    {% if city=='sanfrancisco' %}
	    	var city = 'sanfrancisco'
	    	$('#toggleSanFrancisco').addClass('active')
		    map.centerzoom({
		        lat: 37.794331,
		        lon: -122.402704
		    }, 16);
		 {% else %}
		 	var city = 'boston'
		 	$('#toggleBoston').addClass('active')
		 	map.centerzoom({
		        lat: 42.360607,
		        lon: -71.055493
		    }, 16);
		    
		 {% endif %}
		 
		 /* Add callbacks */
		map.addCallback("zoomed", function(map, zoomOffset, city) {
		    mixpanel.track("Map zoomed",{"Zoom offset":zoomOffset,"Zoom level":map.zoom(),"city":city})
		});
		
		map.addCallback("panned", function(map, panOffset, city) {
		    mixpanel.track("Map panned",{"Pan-X offset":zoomOffset[0],"Pan-Y offset":zoomOffset[1],"city":city})
		});
    
    	/*replace map icons
    	var elems = document.getElementsByTagName('*'),i;
	    for (i in elems)
	        {
	        if((" "+elems[i].className+" ").indexOf(" "+"simplestyle-marker"+" ") > -1)
	            {
	            elems[i].src = 'https://tiles.mapbox.com/v3/marker/pin-m-star+FA6900.png';
	            }
	        }*/

    	//$('.simplestyle-marker').attr('src','http://tiles.mapbox.com/v3/marker/pin-m-star+FA6900.png');
    
    //});

    
</script>

<script type="text/javascript">

	$('#buildFaster').click(function(){
		$('#buildFaster').text("We're on it.").attr('disabled','disabled')
		mixpanel.track("Build faster button clicked",{"city":'{{city}}'})
	});
	
	$(window).load(function(){
		//track loadtime
		var endTime = (new Date()).getTime();
	    var millisecondsLoading = endTime - startTime;
		mixpanel.track("Levr Landing Page Loaded",{"Load Time":millisecondsLoading,"Version":'{{version}}',"City":'{{city}}'})
		
		mixpanel.track_links("#offersNavbar", "Offers navbar click");
		
		mixpanel.track_links("#businessesNavbar", "Business navbar click");
		
		mixpanel.track_links("#developersNavbar", "Developers navbar click");
		
		mixpanel.track_links("#toggleBoston", "Boston button clicked");
		
		mixpanel.track_links("#toggleSanFrancisco", "San Francisco button clicked");
		
		mixpanel.track_links("#appstorebtn", "App store button clicked");
		
	})
</script>

<!--div class="imgDiv"><p class="deal_text"></p><p class="description"></p><p class="business_name"></p><p class="vicinity"></p></div-->
<!--script type=text/javascript>
	$('.simplestyle-marker').attr('img','http://tiles.mapbox.com/v3/marker/pin-m-star+FA6900.png');
</script-->


</body>
</html>