<!DOCTYPE html>
<html>
<head>
<meta name="apple-itunes-app" content="app-id=564566794">
      <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/css/landing_v5.css" rel='stylesheet' />
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  	<div class="navcontent">
	  	<a class="brand" href='/'>Levr.</a>
	  	<!a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  		<ul class="nav" id='navigation'>
		  		<li><a id='offersNavbar' href='/'>Offers</a></li>
		  		<li class="active"><a id='businessesNavbar' href='/merchants'>Businesses</a></li>
		  		<li><a id='developersNavbar' href='http://www.getradi.us'>Developers</a></li>
	  		</ul>
	  	<!/a>
	  	</div>
	</div>
</div>
<div id="top">
	<div class="container">
		<div class="shout-container span8">
		<h1 class="shout">Put your offers on a bigger blackboard.</h1>
		<p class="lead shout">Levr takes the offers that you already run in-store, and puts them in front of a wide, mobile audience.</p>
		<a href="#get" class="btn btn-large btn-info">Get Levr for Free</a>
		</div>
	</div>
</div>
<div id="bottom" class="container marketing">
	<div class="featurette">
		<img class="featurette-image pull-left iphone" src="/img/iphone_v3.png">
		<h2 class="featurette-heading">
		Easy promotion.
		<span class="muted">Because you've got better things to do.</span>
		</h2>
		<p class="lead">Snap a photo, add a sentence, and your offer is live. Your offer will be visible to Levr users in your city, and you'll get to watch them view and interact with it.</p>
		<p class="lead">Run an offer for an hour or a year. Instantly edit or remove your offers at any time.</p>
		
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-right iphone" src="/img/iphone_v3.png">
		<h2 class="featurette-heading">
		Bigger than us.
		<span class="muted">The Levr API.</span>
		</h2>
		<p class="lead">We also make your offers available to developers via the <a href="http://getradi.us">Levr API</a>. This API makes it easy for anyone to incorporate local offers in a web or mobile application.</p>
		<p class="lead">Your offers aren't restricted to Levr - they're available to anyone.</p>
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-left iphone" src="/img/iphone_v3.png">
		<h2 class="featurette-heading">
		Per-offer promotions.
		<span class="muted">Power-ups for your offers.</span>
		</h2>
		<p class="lead">Reach every Levr user that steps within a mile. Appear at the top the pack. Be more searchable. Reach out to people that have liked similar offers.</p>
		<p class="lead">Pick a power-up, pick a deal, and see the results. Levr makes it simple to promote any offer, any time.</p>
	</div>
	
	
	
	<hr class="featurette-divider">
	
	<div id="get" class="featurette download">
		<h2 class="featurette-heading">
		Levr is free for local merchants.
		</h2>
		<p class="lead">In under a minute, you'll be putting your offers in front of a wide, local audience. Levr is available for iPhone and iPad. </br><a href="appstore.com">Download Levr from the App Store</a></p>
		<h2 class="muted">No iPhone? We've got you covered.</h2>
		<p class="lead">Just visit <a href="http://www.levr.com/merchants/mobile">levr.com/merchants/mobile</a> on your mobile device to get started.</p>
	</div>
	
	
	
	<img class="pin" src="/img/pin.png">
	
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>



</body>
</html>