<!DOCTYPE html>
<html>
<head>
<!--meta name="apple-itunes-app" content="app-id=564566794"-->
	<title>Levr for Investors</title>
      <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <link href="/css/landing-investors-v5.css" rel='stylesheet' />
  <script>var startTime = (new Date()).getTime();</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("70b2a36876730d894bce115f3e89c055");</script><!-- end Mixpanel -->
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  	<div class="navcontent">
	  	<a class="brand" href='/'>Levr.</a>
	  	<!a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  		<ul class="nav" id='navigation'>
		  		<li><a id='offersNavbar' href='/'>Offers</a></li>
		  		<li><a id='businessesNavbar' href='/merchants'>Businesses</a></li>
		  		<li><a id='developersNavbar' href='http://www.getradi.us'>Developers</a></li>
		  		<li class="active"><a id='investorsNavbar' href='/investors'>Investors</a></li>
	  		</ul>
	  	<!/a>
	  	</div>
	</div>
</div>
<div id="bottom" class="container marketing">
	<div class="featurette">
		<h2 class="featurette-heading">Local promotion is broken. <span class="muted">Let's fix it.</span></h2>
		<p class="lead">Local promotion is a difficult and costly process for small merchants. Traditionally, a merchant will pay a company for promotional services - more recently, they have begun using social media to self-promote, with mixed results. Levr is changing the rules of the game by giving merchants a mobile application that allows them to promote themselves easily, simply, and for free.</p>
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-left iphone" src="/img/iphone-photo.png">
		<h2 class="featurette-heading">
		Simplicity
		</h2>
		<p class="lead">Levr has created an extremely merchant-friendly process that can be easily applied to offers that merchants are already running in-store, as well as used to create completely new offers. Adding an offer to Levr is as easy as taking a photo and adding a description, and can be done by anyone working in the store. For example, a restaurant (owner, bartender, waiter) can simply snap a photo of their "specials" chalkboard every time they change it, and launch an offer via Levr in seconds. They can edit this offer in real-time, or cancel it at any time.</p>
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-right iphone" src="/img/twophones.png">
		<h2 class="featurette-heading">
		Cost
		</h2>
		<p class="lead">Levr's pricing structure has proven to be extremely popular with local merchants. In the spirit of providing a tool that every merchant can use, there is no cost to sign up or add offers - the lack of a monthly subscription substantially lowers the bar for new merchants to try Levr. This growth strategy is aimed at putting a useful tool in the pocket of every local merchant - something they'll love and will continue to use.</p>
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-left iphone" src="/img/iphone-5-map.png">
		<h2 class="featurette-heading">
		Reach
		</h2>
		<p class="lead">A merchant's offers are distributed through several channels. Levr has a mobile app that allows locals to find great offers and specials that aren't currently available anywhere else. In addition, locals can add great offers that they find (same process as merchants), and earn karma when others redeem them. Levr is also in the process of launching an API, which allows developers to easily add Levr offers to any location-based application. This means that when a merchant launches an offer on Levr, it is also distributed to other companies and applications, who display it to their users. This API is a huge win for local merchants - their offers aren't confined to Levr, but are available to the userbase of every application using the Levr API.</p>
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-right iphone" src="/img/iphone-promote.png">
		<h2 class="featurette-heading">
		Revenue
		</h2>
		<p class="lead">Levr has two primary revenue streams. While it is free for local merchants to sign up and launch offers, there are several additional promotional options available, which are purchased and applied to individual offers. For example, a merchant can purchase a "radius alert" for one of their offers, which sends a notification (containing the offer) to every Levr user that comes within a mile of the merchant, or a "good taste alert", which sends a notification to Levr users that have expressed interest in similar offers. In-app purchases for local merchants are an extremely novel concept, and we haven't seen it applied elsewhere. A second revenue stream is the Levr API. While it is free for developers to make a large number of API calls per month, there are several reasonable pricing tiers for higher-usage customers.</p>
	</div>
	
	<hr class="featurette-divider">
	
	<div class="featurette">
		<h2 class="featurette-heading">The Levr Team</h2>
		<p class="lead">The three founders of Levr (Alonso Holmes, Patrick Walsh, and Ethan Sherr) have known one another since 2008. In January of 2012, they started working on what is now Levr, and the company was incorporated in June. Alonso holds a degree in Aerospace Engineering, and focuses primarily on web development, dabbling in server technologies and graphic design. Patrick holds a degree in Mechanical Engineering, and focuses on building scalable infrastructure on the server side, as well as a simple interface for other developers. Ethan Sherr holds a degree in Mathematics & Computer Science, and focuses on mobile development, and building a phenomenal user experience. All three are quickly becoming product development ninjas.</p>
		<p class="lead">We'd love to chat. Drop us a line at <a href="mailto:hello@levr.com">hello@levr.com</a></p>
	</div>
	
	
	<img class="pin" src="/img/pin.png">
	
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
	$(window).load(function(){
		//track loadtime
		var endTime = (new Date()).getTime();
	    var millisecondsLoading = endTime - startTime;

		mixpanel.track("Levr V5 Investor Landing Page Loaded",{"Load Time":millisecondsLoading})
		
		/*
mixpanel.track_links('#btnGet','Get button pressed')
		
		mixpanel.track_links('#mobileLink','Mobile link clicked')
		
		mixpanel.track_links('#apiLink','API link clicked')
		
*/
	})
	
	
</script>


</body>
</html>