<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/login.css">
	    <script>var startTime = (new Date()).getTime();</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("70b2a36876730d894bce115f3e89c055");</script><!-- end Mixpanel -->
	</head>

	<body>
		{% if error%}
			<div class="topError">
				<h4 class="errorText">
					{{error}}
				</h4>
			</div>
		{% endif %}
		<div class="container">
			<div class="row">
				<div id="loginContainer" class="span6 offset3">
					<form id='loginForm' class="form-horizontal" method="post" action='/merchants/login'>
						<div class="control-group">
							<label class="control-label" for="inputEmail">Email</label>
							<div class="controls">
								<input type="text" id="inputEmail" placeholder="Email" value="{{email}}" name="email">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword">Password</label>
							<div class="controls">
								<input type="password" id="inputPassword" placeholder="Password" value="{{password}}" name="password">
							</div>
						</div>
						<div class="control-group">
						<div class="controls">
						<button type="submit" class="btn btn-primary btn-large btn-inputwidth">Sign in</button>
						</div>
						</div>
					</form>
					<p class="signup">New to Levr? <a href="/merchants/welcome">Sign up</a> in seconds - it's free.</p>
				</div>
				
			</div>
			<div class="row">
				<div class="span12">
					<img id="pin" src='../img/pin.png'>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/login.js"></script>
	</body>
</html>

