{% extends "templates/merchantsBase.html" %}

{% block htmlhead %}
<!--link rel="stylesheet" href="../css/manageOffers.css"-->



{% endblock %}

{% block content %}

<table class="table">
	<thead>
		<tr>
			<td>Views</td>
			<td>Offer</td>
			<td>Status</td>
			<td>Edit</td>
		</tr>
	</thead>
	<tbody>
		
		{% for deal in deals %}
			{% if deal.deal_status == 'active' %}
			<tr class="success">
			{% elif deal.deal_status == 'expired' %}
			<tr class="error">
			{% elif deal.deal_status == 'pending' %}
			<tr class="warning">
			{% endif %}
			
			<td>924</td>
			<td>{{deal.deal_text}}</td>
			<td>{% filter capitalize %}{{deal.deal_status}}{% endfilter %}</td>
			<td><a href='delete' class="btn btn-primary">Edit</a></td>

			
			</tr>

		
		{% else %}
			<div id='addAlert' class="alert">
				<strong>It looks like you haven't created any offers yet.</strong>
				<a href="/merchants/deal">Add one now</a>
			</div>
		{% endfor %}
			
{% endblock %}

{% block javascript %}
<script src="../js/manage.js" type="text/javascript"></script>
{% endblock %}
