{% extends "templates/merchants-mobile-base.html" %}

{% block htmlhead %}
<style type="text/css">
	#results{
		background-color: white;
	}
	
	.result{
		border-bottom: 1px solid #a1a1a1;
		position: relative;
		height: 50px;
		overflow: hidden;
		padding: 0px;
	}
	
	.result:active{
		background-color: #ccdfe8;
	}
	
	.name{
		position: absolute;
		left:10px;
		top:6px;
		color: #333333;
		font-weight: 600;
		white-space: nowrap;
	}
	
	.vicinity{
		position: absolute;
		right: 2px;
		text-align: right;
		bottom: 0px;
		font-size: 9pt;
		margin-bottom: 0px;
		white-space: nowrap;
	}
	
	#loading{
		color: 
	}
</style>


{% endblock %}



{% block content %}
<p id="prompt" class="light">Start typing the name of your business, then select it from the list below.</p>
<input type="text" id="business" placeholder="Your business name" value="{{query}}">
<div id="loading" hidden>
	<p class="light">Loading businesses...</p>
</div>
<div id="results"></div>
{% endblock %}



{% block javascript %}
<script type="text/javascript">
$(window).load(function(){
	//track loadtime
	var endTime = (new Date()).getTime();
    var millisecondsLoading = endTime - startTime;
    if ($('#business').val().length != 0){
		fail = $('#business').val()
	} else{
		fail = false
	}
	mixpanel.track('Business select page loaded',{"Load Time":millisecondsLoading,"fail":fail})
	
	mixpanel.track_links('.back','Business select back button clicked',{"Business search val":$('#business').val()})
});
</script>
<script type="text/javascript">

	var delay = (function(){
	  var timer = 0;
	  return function(callback, ms){
	    clearTimeout (timer);
	    timer = setTimeout(callback, ms);
	  };
	})();
	
	
	
	populateAutocomplete = function(response){
		//hide the loading bit
		$('#loading').hide()
		
		//clear out the list
		$('#results').empty()
		
		//add in the new results
		for (var i=0,len=response.length; i<len; i++){
			pre = response[i]
			name = pre.terms[0].value
			vicinity = pre.description.substr(pre.terms[1].offset)
			html = '<div class="result" id='+pre.reference+'><p class="name">'+name+'</p><p class="vicinity">'+vicinity+'</p></div>'
			$('#results').append(html)
		}
		
		//re-register the listeners
		$('.result').on('click',function(e){
			mixpanel.track("Business select result clicked",{"Business text entered":$('#business').val(),"Number characters entered":$('#business').val().length})
			setTimeout(function(){window.location = '/merchants/mobile/businessdetails?reference='+e.currentTarget.id+'&query='+$('#business').val()},300);
			//window.location = '/merchants/mobile/businessdetails?reference='+e.currentTarget.id+'&query='+$('#business').val()
		})
	}
	
	
	queryGooglePlaces = function(query){
		
		
		//kill any previous requests, if they exist
		if(typeof request!='undefined'){
		   request.abort()
		   console.log('Running request killed')
		} else{
			console.log('No request')
		}
		
		
		//make the request
		url = '/merchants/mobile/autocomplete?query='+escape(query)
		request = $.getJSON(url,function(data){populateAutocomplete(data)})
	}
	
	$("#business").keyup(function(){
		$('#prompt').css('display','none')
		if ($('#business').val().length>2){
			//show the loading bit
			$('#loading').show()
			$('#results').empty()
			delay(function(){
		      queryGooglePlaces($('#business').val())
		    }, 500 );
		} else{
			//clear out the autocomplete
			$('#results').empty()
		}
	})
	
	//If jinja2 is writing out a value to the input, do the search
	if ($('#business').val().length != 0){
		//show the loading bit
		$('#loading').show()
		queryGooglePlaces($('#business').val())
	}
	
</script>
{% endblock %}