<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levr for Merchants</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/merchants.css" rel="stylesheet">
	
	</head>

	<body>
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Levr.</a>
		    <ul class="nav">
		      <li><a href="/merchants/login">Merchant Login</a></li>
		    </ul>
		  </div>
		</div>
		<div class="container">
			<div class="row" id="panes">
				<div class="span6" id="left">
					<h1 id='welcome'>Welcome to Levr.</h1>
					<h3 id='about'>Levr takes the offers you already run in-store, and puts them in front of a larger audience.</h3>
					<a id='getLevr' href='/merchants/beta' class="btn btn-success btn-large">Get Levr for free</a>
				</div>
				<div class="span6" id="right">
					<img id='iphone' src='/img/iphone_v3.png'>
				</div>
			</div>
			<div class="row" id='features'>
				<div class="span4">
					<img src="/img/local.png">
					<p class="featurehead">Reach a Local Audience</p>
					<p class="featuresupport">Connect with a broad audience of local, interested potential customers.</p>
				</div>
				<div class="span4">
					<img src="/img/stopwatch.png">
					<p class="featurehead">Launch offers in seconds</p>
					<p class="featuresupport">Snap a photo and add a description - that's it.</p>
				</div>
				<div class="span4">
					<img src="/img/tag.png">
					<p class="featurehead">Your offers, your rules</p>
					<p class="featuresupport">Control the content of your offers from start to finish. Cancel anytime.</p>
				</div>
			</div>
			<div class="row" id='beta'>
				<div class="span8 offset2">
					<h3>Levr is free.</h3>
					<p class="betaPrompt">We're currently in beta, which means that things are a little rough around the edges. If this doesn't scare you away, and you want to help shape an awesome tool, we'd love to have you.</p>
					<a href="/merchants/beta" id="betaBtm" class="btn btn-success btn-large">Get started</a>
				</div>
			</div>
			<div class="row">
				<div id='pinRow' class="span12">
					<img id="pin" src='/img/pin.png'>
				</div>
			</div>
			
		</div>
		<!--div id="top">
			<div class="container">
				<div class="row" id="panes">
			  		<div class="span6" id="left">
				  		<h1 id='welcome'>Welcome to Levr.</h1>
						<h3 id='about'>Levr takes the offers you already run in-store, and puts them in front of a larger audience.</h3>
						<p class="freeBeta">Levr is free, and is currently in beta.</p>
						<a class="btn btn-success btn-large">Join the beta</a>
			  		</div>
			  		<div class="span6" id="right">
				  		<img id='iphone' src='../img/iphone_v3.png'>
			  		</div>
			  	</div>
			</div>
		</div>
		<div id="bottom">
			<div class="container">
				<div class="row">
					<div class="span4">
						<img src="../img/local.png">
						<p class="cellhead">Reach a Local Audience</p>
						<p class="cellsupport">Connect with a broad audience of local, interested potential customers.</p>
					</div>
					<div class="span4">
						<object class="cellimg" data="../img/lock.svg" type="image/svg+xml"></object>
						<p class="cellhead">Reach a Local Audience</p>
						<p class="cellsupport">Connect with a broad audience of local, interested potential customers.</p>
					</div>
					<div class="span4">
						<object class="cellimg" data="../img/stopwatch.svg" type="image/svg+xml"></object>
						<p class="cellhead">Reach a Local Audience</p>
						<p class="cellsupport">Connect with a broad audience of local, interested potential customers.</p>
					</div>
				</div>
			</div>
		</div-->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	</body>
</html>

