<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/merchantsBase.css">
	{% block htmlhead %} {% endblock %}
</head>

<body>
	{% if not validated %}
		<div class="link_prompt">
			<h4 class="linkText">
				It looks like you haven't verified your business: {{business.business_name}}.
				<a href='/merchants/verify' id='btnLink' class="btn btn-success">Verify now (it's really easy)</a>
			</h4>
		</div>
	{% endif %}
	<div class="container" >
		<div class="row">
			<div class="span10 offset1" id="appContainer">
				<!-- BEGIN NAV AREA -->
				<div class="navbar">
					<div class="navbar-inner">
						<a class="brand">
							Levr for Merchants
						</a>
						<p class="brand business_name">{{business.business_name}}</p>
					</div>
				</div>
				
				<div class="row">
					<div id='navLeft' class="span3 navbar">
						<div id='innerLeft' class="navbar-inner">
							<ul class="nav">
								<li><a href="/merchants/manage">Manage your offers<i class="icon-chevron-right"></i></a></li>
								<li><a href="/merchants/deal">Add an offer<i class="icon-chevron-right"></i></a></li>
								<li><a href="/merchants/verify">Verify<i class="icon-chevron-right"></i></a></li>
								<li><a href="/merchants/logout">Logout<i class="icon-chevron-right"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="span7" id="content">
						{% block content %} {% endblock %}
					</div>
				</div>
				<!--div id="nav">
					<div class="nav-item" id="nav1">
						<object class="navimg" data="../img/lock.svg" type="image/svg+xml"></object>
						<a href="./manage" class="navText">My Offers</a>
						<div class="navDivider"></div>
					</div>
					<div class="nav-item" id="nav2">
						<object class="navimg" data="../img/tag.svg" type="image/svg+xml"></object>
						<a href="./deal" class="navText">Create New</a>
						<div class="navDivider"></div>
					</div>
					<div class="nav-item" id="nav3">
						<object class="navimg" data="../img/tag.svg" type="image/svg+xml"></object>
						<a href="./upload" class="navText">Upload From Store</a>
						<div class="navDivider"></div>
					</div>
					<div class="nav-item" id="nav4">
						<object class="navimg" data="../img/markup.svg" type="image/svg+xml"></object>
						<a href="./widget" class="navText">Widget</a>
						<div class="navDivider"></div>
					</div>
					<div class="nav-item" id="nav5">
						<object class="navimg" data="../img/person.svg" type="image/svg+xml"></object>
						<a href="./myAccount" class="navText">My Account</a>
						<div class="navDivider"></div>
					</div>
					<div class="nav-item" id="nav6">
						<object class="navimg" data="../img/portal.svg" type="image/svg+xml"></object>
						<a href="/logout" class="navText">Logout</a>
					</div>
				</div-->
				<!--END NAV AREA -->
			</div>
		
		</div>
		<div id="footer">
			{% block footer %}
			<!-- &copy; Copyright  by Levr Inc. -->
			{% endblock footer %}
		</div>
	</div>
	{% block javascript %}
	<script type="text/javascript">
			google.load("jquery", "1.4.2");
		</script>
	{% endblock %}
</body>
</html>
