{% extends "templates/merchants-mobile-base.html" %}

{% block htmlhead %}{% endblock %}



{% block content %}
{%if error%}
	{{error}}
{%endif%}
{% if dealID %}
<form method="post" action="/merchants/mobile/description/edit?img_key={{img_key|escape}}">
{% else %}
<form method="post" action="/merchants/mobile/description/create">
{%endif%}
	<textarea id="description" name="description" value="{{description}}" placeholder="Any terms or conditions? Is the offer only valid on certain days? Etc."></textarea>
	<input id="submit" class="btn" type="submit" value="Submit">
	<input type="hidden" name="img_key" value="{{img_key}}">
	<input type="hidden" name="deal_text" value="{{deal_text}}">
</form>

{% endblock %}



{% block javascript %}{% endblock %}