<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/mobileupload.css" rel="stylesheet">
    
    <!-- start time tracking -->
	<script>var startTime = (new Date()).getTime();</script>
		
    <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("ab1137787f393161bd481e2756b77850");</script><!-- end Mixpanel -->
    
    
  </head>
  <body>
  
  <div class='container'>
  	<div class="row">
  		<div class="span12">
  			<div id='imgPreview'></div>
  			<h3 id='imgPrompt'>Take a photo of the offer:</h3>
  			<form class="form" action='{{ upload_url }}' method="POST" enctype="multipart/form-data">
  				<input type=hidden name='uid' value="{{uid}}">
  				<input type=hidden name='businessID' value="{{businessID}}">
  				<input type=hidden name='callback_url' value="{{callback_url}}">
  				<div id='img_group' class="control-group"><a id='fakeImgBtn' href='#' class="btn btn-success btn-large">Launch camera</a><input id='img' type="file" name="img" onchange="previewImage(this);"></div>
	  			<div class="control-group"><input id='deal_text' type="text" name="deal_text" placeholder="What's the deal?"></div>
	  			
	  			<div class="control-group"><textarea id='description' rows="3" name="description" placeholder="Anything else people should know?"></textarea></div>
	  			
	  			<button id='submitBtn' type="submit" class="btn btn-primary btn-large" disabled>Upload</button>
  			</form>
  			<img id='pin' src="../img/pin.png">
  		</div>
  	</div>
  </div>
  
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
	    
	    function previewImage(input){
			if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        reader.onload = function (e) {
		        	$('#deal_text,#description,#submitBtn').show()
		        	$('#imgPreview').css('background-image','url('+e.target.result+')');
		        	$('#imgPreview').css('display','block')
		        	$('#imgPrompt,#fakeImgBtn').hide()
		        	mixpanel.track("Image uploaded");
		        };
		
		        reader.readAsDataURL(input.files[0]);
		    }
		}
	    
	    $(document).ready(function() {
	    
	    	//identify as the user that generated the contentID
	    	mixpanel.people.identify("{{ uid }}");
	    	
	    	//track arrival via mixpanel
	    	mixpanel.track("Foursquare web wrapper arrival");
	    	
	    	//track uploads began (per user)
	    	mixpanel.people.increment("Uploads Began",1);
	    
	    
		    $('#fakeImgBtn,#imgPreview').click(function(){
			    $('#img').trigger('click')
			    return False
		    })
		    
		    $('#deal_text').keyup(function(){
			    if ($('#deal_text').val().length>0){
				    $(':submit').removeAttr("disabled")
			    } else{
				    $(':submit').attr("disabled", "disabled");
			    }
		    })
		    
		    mixpanel.track_links("#submitBtn", "Offer submitted");
	    })
    </script>
  </body>
</html>