<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# levrinc: http://ogp.me/ns/fb/levrinc#">
	<meta charset="UTF-8">
	<meta property="fb:app_id" content="448791615162217" /> 
	<meta property="og:type"   content="levrinc:deal" /> 
	<meta property="og:url"    content="{{deal.shareURL}}" /> 
	<meta property="og:image" content="{{deal.largeImg}}" />
	<meta property="og:description" content="{{deal.description}}" />
	<meta property="levrinc:location:latitude" content="{{lat}}" />
	<meta property="levrinc:location:longitude" content="{{lon}}" />
	<meta property="og:title"  content="Sweetness! {{deal.deal_text}} at {{deal.business.businessName}}" /> 
<!-- 		<meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" /> -->
	<title>{{alias}} wants to share a deal with you.</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/share.css">
	
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div id='top' class="span12">
					
				</div>
			</div>
			<div class="row">
				
				<p id="shareText">{{ninja}} wants to share a deal with you.</p>
				<div class="span8 offset2" id='imgContainer' style="background-image: url(/api/deal/{{enc_key}}/img?size=webShare);">
					<div class="bottomBanner">
						<p id='dealText'>{{deal.dealText}}</p>
						<p id="description">{{deal.description}}</p>
						<p id='business_string'>{{deal.business.businessName}} - {{deal.business.vicinity}}</p>
					</div>
					
					
					
				</div>
			</div>
			
			<div class="row" id='levr'>
				<div class="span4 offset2">
					<img id="phoneImg" src="/img/iphone_v3.png"/>
				</div>
				<div id='right' class="span4">
					<p class="call">Great offers at local businesses.</p>
					<p class="call">Powered by your community.</p>
					<p class="download">Levr is free on the iPhone App Store.</p>
					<a href='https://itunes.apple.com/us/app/levr/id564566794?mt=8'><img id='appstore' src="../img/appstore.png"></a>
				</div>
			</div>
			<div class="row" id='btmbtm'><div class="span12"><a id='link' href='http://www.levr.com'>levr.com</a></div></div>
			<div class="row" id='btmbtm'><div class="span12"><img src='/img/pin.png'></div></div>
		</div>
		
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript">
	
	
		sizeImage = function(){
			var cw = $('#imgContainer').width();
			$('#imgContainer').css({
			    'height': cw/1.5 + 'px'
			});
		}
		
		$('#imgContainer').bind("resize", sizeImage());
	
	</script>
	
	</body>
	
</html>