<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/merchants_beta.css" rel="stylesheet">
</head>

	<body>
		<div class="navbar navbar-fixed-top">
		  	<div class="navbar-inner">
			  	<div class="container">
				  	<a class="brand" href='/'>Levr.</a>
				  	<!a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				  		<ul class="nav" id='navigation'>
					  		<li><a href='/'>Offers</a></li>
					  		<li><a href='/merchants'>Businesses</a></li>
					  		<li><a href='http://www.getradi.us'>Developers</a></li>
				  		</ul>
				  		<ul class="nav nav-right" id='navigation'>
					  		<li class="nav-right"><a href='/merchants/login'>Merchant Login</a></li>
				  		</ul>
				  	<!/a>
				  	
			  	</div>
		  	</div>
	  	</div>
		<div id="mainmain" class="container">
			<div class="row">
				<div class="span8 offset2">
					<h2>Terms of Service</h2>
					<p class="lead">Your Content</p>
					<p>Levr allows you to upload photographs and descriptions of offers you discover. Subject to your selection of account preferences, you grant Levr a non-exclusive, royalty-free, sublicensable, transferrable, worldwide license to modify, display, and distribute your content. Content that you post to Levr is public, and you grant us the ability to use and re-distribute it. We retain your content until it is no longer valid. You may request to have your content removed at any time by emailing remove@levr.com with your username and a description of the content.</p>
					<p class="lead">Our content</p>
					<p>Except for User and Merchant content, all other content is the property of Levr, Inc. You agree not to sell, modify, reuse, or redistribute this content.</p>
					<p class="lead">Mobile Software</p>
					<p>Levr provides mobile software for the express purpose of accessing Levr Content. We grant you a license to use a compiled-code version of the mobile software. We do not guarantee that your mobile device will be compatible with the Levr mobile application.
					<p class="lead">Indemnity</p>
					<p>You agree to indemnify and hold harmless Levr and its officers, directors, and employees, from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses, costs and expenses. This includes (without being limited to) reasonable legal and accounting fees (including costs of defense of claims, suits or proceedings brought by third parties), arising out of or in any way related to your use of Levr.</p>
					<p class="lead">Disclaimer</p>
					<p>This service and all of the content contained are provided "as is" without warranty as to quality or accuracy. Levr takes no responsibility and assumes no liability for content that you or any other user send or receive using Levr.
					<h2>Privacy Policy</h2>
					<p class="lead">What we collect and how we use it</p>
					<p>We collect information about your usage of Levr, in order to improve the experience for you and others. Specifically, we collect information pertaining to your progression through the application, the offers that you choose to view, and your interaction with various user-interface components. We collect and aggregate this information to better understand how users are using Levr, and improve our user experience.</p>
					<p class="lead">Your account information</p>
					<p>We keep your account information private, and will never sell, trade, or otherwise disclose it to anyone else. Information related to your usage of the application may be used to compile charts, graphs, or other representations, but will be used in aggregate and will never include you name, photo, or any other identifying information. If you connect an external account, we import your photograph, personal information, and friends from that respective service. Your disclosure of your information to that particular service is governed by the terms of use and privacy policy of that service.</p>
					<p class="lead">User visibility</p>
					<p>Offers uploaded by users on Levr are attributed to that user. The uploading user is visible to other Levr users. Your name (if applicable) is shortened to your first name, and the first letter of your last name.</p>
					<p>
				</div>
			</div>
			
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		
	</body>
</html>

